@import "bourbon"

$browser-context: 16
$c-white: #FFFFFF
$c-yellow: #ffd612
$f-regular: 'Roboto', sans-serif
$f-sport: 'SportsWorld', sans-serif
$size-24px: 1.25vw //1.5em
$size-21px: 1.09375vw //1.313em
$size-18px: 0.9375vw //1.125em
$size-14px: 0.7291666666666667vw //0.875em
=ff($ff)
  font-family: $ff

