@import "fonts"
@import "libs"
@import "vars"

@function get-vw($object)
    $vw: (1920 * 0.01) * 1px
    @return ($object / $vw) * 1vw

@function get-vh($object)
    $vh: (974 * 0.01) * 1px
    @return ($object / $vh) * 1vh

@function get-rem($pixels, $context: $browser-context)
    @return #{$pixels/$context}rem

*
    box-sizing: border-box

a
    text-decoration: none
    &:-webkit-any-link
        text-decoration: none

html
    //font-size: calc(#{get-vw(18px/2)} + #{get-vh(18px/2)})

body
    font-size: calc(#{get-vw(18px/2)} + #{get-vh(18px/2)})
    position: relative
    line-height: normal
    font-family: $r-medium
    text-align: center
    //overflow: hidden
    color: $c-black
    //height: 100vh
    margin: 0
    padding: 0
    border: 0
    outline: none
    background-color: #ffffff
    -webkit-font-smoothing: subpixel-antialiased
    p, h1, h2, h3, h4, h5, span, ul, li, tr, td, q
        padding: 0
        margin: 0


p
    padding: 0
    margin: 0
//main
//    position: relative
//    width: 100vw
//    height: 100vh
//    overflow: hidden

.screen-1
    height: 100vh
    width: 100vw
    background-image: url(../img/sermion-puzzle-bg-1.png), url(../img/sermion-puzzle-bg-2.png), url(../img/sermion-puzzle-bg-3.png), url(../img/sermion-bg-shape.jpg)
    background-repeat: no-repeat
    background-position: right top, right bottom, left bottom, center bottom
    background-size: get-vw(599px) get-vw(599px), get-vw(599px) get-vw(599px), get-vw(599px) get-vw(599px), contain



.screen-1_content-container
    //position: relative
    overflow: visible
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-content: center
    .screen-1_content-container_bottom
        margin-bottom: 1vw
        z-index: 1
        .screen-1_hidden
            transform: translateY(-150%)
        p
            font-size: get-vw(20px)
    h1
        text-transform: uppercase
        font-size: get-vw(46px)
        font-family: $os-light
        color: $c-blue
        padding-top: 3vw
        padding-bottom: 1.5vw
        margin-top: 0
    p
        padding-bottom: 0.3vw
    .p__bold
        font-family: $r-bold
        padding-bottom: 2vw
    .p__blue
        color: $c-blue
    h2
        text-transform: uppercase
        font-size: get-vw(28px)
        font-family: $os-bold
        padding-top: 1vw
        padding-bottom: 1vw
.head-container
    height: get-vh(351px)
    width: 100vw
    overflow: visible
    z-index: 1
    position: absolute
    top: 35vh
svg
    pointer-events: auto
.head-svg
    height: get-vh(351px)
    width: 100%
    overflow: visible
    z-index: 3
    position: absolute
    margin: 0
    top: 50vh
    left: 50%
    transform: translate(-50%,-50%)
    .violet-1,.red-2,.yelloow-3,.blue-4
        cursor: pointer
        &:hover
            .puzzle_text--active
                fill: #615f5f
.puzzle_text
    font-family: $os-bold
    font-size: get-vw(24px)
    text-transform: uppercase
    fill: none
.shadow-puzzles
    filter: url(#f1)

.screen-1_side-quotes
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    z-index: 0
    span
        color: $c-grey
        font-family: $r-bold
        font-size: get-vw(28px)
        text-align: left
    .screen-1_side-quotes_1
        position: absolute
        top: 40%
        left: 18%
        transform: rotate(10deg)
    .screen-1_side-quotes_2
        position: absolute
        top: 54%
        left: 20%
        transform: rotate(-10deg)
    .screen-1_side-quotes_3
        position: absolute
        top: 45%
        left: 62%
        transform: rotate(-10deg)

.button
    font-family: $r-bold
    color: $c-white
    background-color: $c-blue
    width: get-vw(220px)
    height: get-vw(52px)
    border-radius: 26px
    line-height: get-vw(52px)
    font-size: get-vw(18px)
    border: none
    display: inline-block
    user-select: none
    margin: 2vw 0
    box-shadow: 0 2px 12px -3px rgba(16,207,232,1)
    transition: all 0.4s ease-in-out
    &:hover
        background-color: #63b9ff
        transform: translateY(-2px)
#violet_button
    background-color: $c-purple
    box-shadow: 0 2px 12px -3px $c-purple
    margin: 3vw 0 2vw
    &:hover
        background-color: #8331d9
        transform: translateY(-2px)
#red_button
    background-color: $c-red
    box-shadow: 0 2px 12px -3px $c-red
    margin: 3vw 0 2vw
    &:hover
        background-color: #ff5b58
        transform: translateY(-2px)
#yellow_button
    background-color: $c-yellow
    box-shadow: 0 2px 12px -3px $c-yellow
    margin: 3vw 0 2vw
    &:hover
        background-color: #ffd442
        transform: translateY(-2px)
#blue_button
    background-color: $c-blue
    box-shadow: 0 2px 12px -3px $c-blue
    margin: 3vw 0 2vw
    &:hover
        background-color: #63b9ff
        transform: translateY(-2px)
#buy_white-button
    width: get-vw(180px)
    height: get-vw(50px)
    line-height: get-vw(46px)
    background-color: $c-white
    color: $c-blue
    border: solid get-vw(2px) $c-grey
    box-shadow: none
    cursor: pointer
    &:hover
        transition: all 0.4s ease-in-out
        box-shadow: 0 2px 12px -3px rgba(16,207,232,1)
        background-color: $c-blue
        color: $c-white
        border: solid get-vw(2px) $c-blue
        transform: translateY(-2px)
#buy_blue-button
    width: get-vw(180px)
    height: get-vw(50px)
    line-height: get-vw(50px)
    cursor: pointer

.screen-1_visible
    display: block
.screen-1_hidden
    display: none
.show
    display: block
.hide
    display: none
.dummy
    opacity: 0 //hides dummy -- blue text on the screen-1 in order to prevent jumping head

.screen-1_pointer
    height: get-vw(53px)
    width: get-vw(33px)
    margin: 3vw auto 2vw

.screen-page_header
    position: relative
    width: 100vw
    height: get-vw(856px)
    background-color: #fbfbfb
    background-image: url(../img/sermion-puzzle-bg-1.png)
    background-repeat: no-repeat
    background-position: right top
    background-size: get-vw(799px) get-vw(799px)
.screen-page
    position: relative
    h1
        text-transform: uppercase
        font-size: get-vw(46px)
        font-family: $os-light
        color: $c-blue
        padding-top: 3vw
        padding-bottom: 1.5vw
        margin-top: 0
    h2
        font-family: $r-bold
        font-size: get-vw(28px)
        text-transform: uppercase
        margin: 1vw 0
    h3
        font-family: $r-bold
        font-size: get-vw(24px)
        margin-top: 3vw
    p
        padding: 0.5vw
        color: #666666
    .p__after-h1
        padding-left: 20vw
        padding-right: 20vw
    .p__bold,span
        font-family: $os-bold
        padding-bottom: 2vw
    .p__under-button
        margin-top: 1vw
#violet-page
    h1,h3
        color: $c-purple
    .screen-page_content_rectangle_text
        h2
            color: $c-purple
#red-page
    h1,h3
        color: $c-red
    .screen-page_content_rectangle_text
        h2
            color: $c-red
#yellow-page
    h1,h3
        color: $c-yellow
    .screen-page_content_rectangle_text
        h2
            color: $c-yellow
#blue-page
    h1,h3
        color: $c-blue
    .screen-page_content_rectangle_text
        h2
            color: $c-blue

.screen-page_header_man-row
    width: 100vw
    height: get-vw(460px)
    position: absolute
    bottom: 0
    display: flex

.screen-page_header_man-row_left
    width: 40%
    height: 100%
    text-align: right
.screen-page_header_man-row_left_item
    height: 50%
    width: 100%
    display: flex
    align-items: flex-end
    justify-content: center
    //max-width: 20vw
    padding-left: 25vw
    flex-direction: column
    text-align: right
    img,svg
        width: get-vw(70px)
        height: get-vw(70px)
        margin-bottom: 1vw
        transition: all 0.5s ease-in-out
        &:hover
            transform: scale(1.1)



.screen-page_header_man-row_center
    width: 20%
    height: 100%
    img
        height: get-vw(459px)
        width: get-vw(320px)

.screen-page_header_man-row_right
    width: 40%
    height: 100%
    text-align: left
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
.screen-page_header_man-row_right_item
    height: 50%
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: center
    //max-width: 20vw
    padding-right: 25vw
    flex-direction: column
    text-align: left
    img,svg
        width: get-vw(70px)
        height: get-vw(70px)
        margin-bottom: 1vw
        transition: all 0.5s ease-in-out
        &:hover
            transform: scale(1.1)

.screen-page_content
    margin-top: 5vw
    //width: get-vw(1170px)
.screen-page_content_photo-row
    display: flex
    align-items: flex-start
    justify-content: center
    margin: 3vw 15vw
.screen-page_content_photo-row_column
    img
        height: get-vw(180px)
        width: get-vw(270px)
    p
        max-width: 17vw
        //padding: get-vw(10px) get-vw(35px)
.screen-page_content_rectangle
    display: flex
    align-items: center
    //width: get-vw(1170px)
    width: get-vw(1290px)
    //height: get-vw(230px)
    height: auto
    padding-bottom: 2vw
    padding-top: 2vw
    background-color: #f6f9fb
    background-image: url(../img/sermion-puzzle-bg-1.png), url(../img/sermion-puzzle-bg-3.png)
    background-repeat: no-repeat
    background-position: right top, left bottom
    background-size: get-vw(390px) get-vw(390px), get-vw(300px) get-vw(300px)
    margin: 3vw auto 5vw
    text-align: left
    border-radius: get-vw(15px)
    h2
        font-size: get-vw(24px)
        padding: 0
        margin: 0 0 1vw 0
    .p__bold
        font-family: $r-medium
        font-size: get-vw(21px)
        padding-bottom: 0.5vw
        color: $c-black
    p
        padding: 0 get-vw(250px) 0 0

.screen-page_content_rectangle_photo
    img
        width: get-vw(160px)
        height: get-vw(160px)
        border-radius: 50%
        margin: 0 2vw
        transition: all 0.5s ease-in-out
        &:hover
            //transform: scale(1.1)
            //transform: scale(0.9)

.screen-page_content_puzzle-row
    display: flex
    justify-content: center
    align-items: center
    margin: 3vw 15vw
    align-content: center
    //width: get-vw(1000px)
.screen-page_content_puzzle-row_column
    display: flex
    flex-direction: column
    align-items: center
    align-self: flex-start
    flex-basis: 20%
    text-align: center
    &:first-child
        svg
            //margin-left: 1vw
    &:last-child
        svg
            //margin-right: 2vw
    svg
        width: get-vw(208px)
        height: get-vw(208px)
        //margin-left: 1.5vw
        transition: all 0.5s ease-in-out
        &:hover
            .page_puzzle__stroke
                stroke: #008CF5
            .page_puzzle__image
                filter: grayscale(0%)
                opacity: 1
    img
        width: get-vw(300px)
    p
        //padding: get-vw(10px) get-vw(35px)
        max-width: 15vw
.page_puzzle__stroke
    fill: none
    stroke: #F0F8FF
    stroke-width: 3
    stroke-miterlimit: 10
    transition: all 0.5s ease-in-out
.page_puzzle__rect1
    clip-path: url(#SVGID_2_puzzle-row)
.page_puzzle__rect
    //clip-path: url(#SVGID_2_puzzle-row)
    fill: #F0F8FF
.page_puzzle__rect3
    clip-path: url(#clip-path3)
.page_puzzle__rect2
    clip-path: url(#clip-path-22)
.page_puzzle__rect4
    clip-path: url(#clip-path-4)
.page_puzzle__rect44
    clip-path: url(#clip-path-44)
.shapeOfInnerPuzzle3
    fill: #f0f8ff
.page_puzzle__image
    filter: grayscale(100%)
    opacity: 0.2
    overflow: visible
    transition: all 0.5s ease-in-out
.page_puzzle__active
    .page_puzzle__stroke
        stroke: #008CF5
    .page_puzzle__image
        filter: grayscale(0%)
        opacity: 1

.screen-page_footer
    width: 100vw
    height: 20vw
    background-image: url(../img/sermion-puzzle-bg-2.png), url(../img/sermion-puzzle-bg-3.png)
    background-repeat: no-repeat
    background-position: right bottom, left bottom
    background-size: get-vw(400px) get-vw(400px), get-vw(400px) get-vw(400px)
    svg
        width: auto
        height: 14vw
        margin: 2.1vw 0 0
        padding: 0
        //display: flex

.sermion-page
    position: relative
    h1
        text-transform: uppercase
        font-size: get-vw(46px)
        font-family: $os-light
        color: $c-blue
        padding-top: 3vw
        padding-bottom: 1.5vw
        margin-top: 0
    h2
        font-family: $r-bold
        font-size: get-vw(28px)
        text-transform: uppercase
        margin: 1vw 0
        color: $c-blue
    h3
        font-family: $r-bold
        font-size: get-vw(24px)
        margin-top: 3vw
    p
        padding: 0.5vw
        color: #666666
    .p__after-h1
        padding-left: 20vw
        padding-right: 20vw
    .p__bold,span
        font-family: $os-bold
        padding-bottom: 2vw
    .p__under-button
        margin-top: 1vw

.sermion-page_header
    position: relative
    width: 100vw
    height: get-vw(856px)
    background-color: #fbfbfb
    background-image: url(../img/sermion-puzzle-bg-1.png)
    background-repeat: no-repeat
    background-position: right top
    background-size: get-vw(799px) get-vw(799px)
    margin-bottom: 10vw


.sermion-page_header_plashka
    display: flex
    flex-direction: row
    margin: 1vw auto
    justify-content: center
    width: get-vw(1170px)
    height: get-vw(470px)
    background-color: $c-white
    background-image: url(../img/sermion-puzzle-bg-1.png)
    background-repeat: no-repeat
    background-position: right top
    background-size: get-vw(470px) get-vw(470px)
    border-radius: get-vw(10px)
    box-shadow: 0 2px 21px -3px rgb(211, 208, 209)
.sermion-page_header_plashka_left-column
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    width: 50%
.sermion-page_header_plashka_left-column_pack-container
    img
        width: get-vw(338px)
        height: auto
.sermion-page_header_plashka_left-column_buttons-container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 70%
.sermion-page_header_plashka_right-column
    display: flex
    flex-direction: column
    width: 50%
    justify-content: center
.sermion-page_header_plashka_right-column_heading-container
    h2
        font-size: get-vw(24px)
        text-align: left
.sermion-page_header_plashka_right-column_items-container
    display: flex
    flex-direction: column
    justify-content: space-around
.sermion-page_header_plashka_right-column_items-container_item
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    width: 100%
    height: 100%
    margin-top: 0.5vw
    //justify-content: flex-start
.sermion-page_header_plashka_right-column_items-container_item_puzzle
    text-align: left
    width: 10%
    img
        width: get-vw(50px)
        height: auto
        transition: all 0.5s ease-in-out
        &:hover
            transform: scale(1.1)
.sermion-page_header_plashka_right-column_items-container_item_text
    width: 90%
    text-align: left
    padding-right: get-vw(10px)



.parallax
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-start
    text-align: left
    //justify-content: center
    height: get-vw(774px)
    width: get-vw(1248px)
    margin: 0 auto
    background-image: url(../img/doc-parallax/sermion-puzzle-transparency.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    padding: 10vw 10vw 0
    //background-size: 1248px 774px
    &:before
        content: 'Цифры говорят за Сермион'
        position: absolute
        left: 0
        top: get-vw(-50px)
        width: 100%
        height: get-vw(50px)
        background-color: #fff
        font-family: $r-bold
        font-size: get-vw(28px)
        text-transform: uppercase
        //margin: 1vw 0
        color: $c-blue
        text-align: center
    &:after
        content: ''
        position: absolute
        left: 0
        bottom: get-vw(-50px)
        width: 100%
        height: get-vw(50px)
        background-color: #fff
.parallax_text
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: 2vw
    align-items: center
    p
        margin: 0
        padding-left: 1vw
        color: $c-white
        font-family: $r-regular
    img
        width: get-vw(45px)
        height: get-vw(45px)
        transition: all 0.5s ease-in-out
        &:hover
            transform: scale(1.1)
#h2_parallax
    margin-bottom: 0
    padding-bottom: 0


//sermion-page_content_diagram-1:


.s3_bottom,.s4_bottom
    display: flex
    align-items: flex-start
    //justify-content: space-around
.s3_bottom-p
    width: 30%
.s4_bottom-p
    width: 20%
.s-4_bottom-p_0
    width: 9.3%
#diagram_1, #diagram_2
    height: auto

.sermion-page_content_diagram
    margin: 3vw auto
    padding: 2vw
    width: get-vw(969px)
    height: get-vw(644px)
    background-color: #f8fbff
    border-radius: get-vw(10px)
    overflow: hidden
    box-shadow: inset 0 0 42px -8px rgba(78,141,204,.32)
    .container
        width: 100%
        padding: 0
        h2
            padding: 0 5vw 2vw
        .s-3,.s-4
            padding: 50px 0
        ul.s-3__list,ul.s-4__list
            font-size: get-rem(14)
            list-style: none
            padding: 0
            margin: 0
            text-align: center
            color: #B7D6ED
            li.s-3__list-item, li.s-4__list-item
                position: relative
                margin: 0 0 15px
                &:after
                    content: ''
                    position: absolute
                    bottom: -7px
                    left: 50%
                    width: 600px
                    border-top: 1px dashed #E9F0F4
        .s-3__graph-container,.s-4__graph-container
            display: flex
            //flex-direction: row
            //align-items: flex-start
            //justify-content: flex-start
            position: relative
        .s-4__graph-container
            margin-top: 1vw
        .s-3__graph-item
            height: 192px
            position: relative
            float: none
            display: flex
            flex-direction: column
            &--0
                width: 10%
                display: flex
                //align-items: flex-start
                justify-content: flex-end
            &--1
                width: 30%
                .s-3__graph-line
                    height: 144px
                .s-3__graph-circle
                    border-color: $c-blue
                    bottom: 142px
                .s-3__graph-percent
                    color: $c-blue
                    bottom: 142px
            &--2
                width: 30%
                .s-3__graph-line
                    height: 145px
                .s-3__graph-circle
                    border-color: #038D97
                    bottom: 143px
                .s-3__graph-percent
                    color: #038D97
                    bottom: 143px
            &--3
                width: 30%
                .s-3__graph-line
                    height: 122px
                .s-3__graph-circle
                    border-color: #702ABA
                    bottom: 120px
                .s-3__graph-percent
                    color: #702ABA
                    bottom: 120px
        .s-4__graph-item
            //width: 10%
            height: 192px
            position: relative
            float: none
            display: flex
            flex-direction: column
            &--0
                width: 10%
                display: flex
                //align-items: flex-start
                justify-content: flex-end
            &--1,&--2,&--3
                width: 20%
                height: 200px
                display: flex
                flex-direction: column-reverse
                padding-bottom: 12px
                align-items: center
                .s-4__graph-item_row
                    display: flex
                    flex-direction: row
                    justify-content: flex-start
                    width: 108px
                    .s-4__graph_puzzle-item
                        svg
                            margin: 0
                            height: 42px
                            width: auto
                        &--2
                            transform: translateX(-10px)
                        &--3
                            transform: translateX(-20px)
                    &--1
                        z-index: 4
                    &--2
                        transform: translateY(get-vw(7px))
                        z-index: 3
                    &--3
                        transform: translateY(get-vw(14px))
                        z-index: 2
                    &--4
                        transform: translate(32px, get-vw(21px))
                        z-index: 1
                    &--5
                        transform: translate(32px, get-vw(28px))
                        z-index: 0
            &--2
                width: 20%
            &--3
                width: 20%
            &--4
                display: flex
                flex-direction: column
                justify-content: center
                width: 30%
                height: 192px
                background-color: #f8fbff
                p
                    font-size: get-vw(14px)
                    margin-bottom: 1vw
                    text-align: left
                    position: relative
                    margin-left: 4vw
                    line-height: get-vw(32px)
                    &:before
                        position: absolute
                        content: ''
                        display: inline-block
                        width: get-vw(30px)
                        height: get-vw(30px)
                        margin: 0
                        //padding: get-vw(1.5px)
                        background-image: url(../img/svg/sermion-table-puzzle-yellow.svg)
                        background-size: get-vw(30px) get-vw(30px)
                        background-position: center center
                        background-repeat: no-repeat
                        vertical-align: middle
                        transform: translateX(-2vw)
                #green_pp
                    &:before
                        background-image: url(../img/svg/sermion-table-puzzle-green.svg)
                #blue_pp
                    &:before
                        background-image: url(../img/svg/sermion-table-puzzle_blue.svg)
        .s-3__graph-line
            position: absolute
            left: 50%
            bottom: 9px
            transform: translate(-50%, 0)
            width: 8px
            border-radius: 10px
            background-color: #E9F0F4
            opacity: 0
        .s-3__graph-circle
            position: absolute
            left: 50%
            transform: translate(-50%, 0)
            width: 20px
            height: 20px
            border-radius: 50%
            border: 2px solid
            opacity: 0
        .s-3__graph-percent
            position: absolute
            left: 50%
            transform: translate(50%, 0)
            font-size: get-rem(18)
            font-weight: 700
            opacity: 0
    h2, p
        margin: 0
        padding: 0 0 0.3vw 0
    table
        width: 100%
        margin-top: 0.5vw
        margin-bottom: 2vw
        border: solid get-vw(1px) $c-grey
        border-collapse: collapse
        color: #666666
        td
            border: solid get-vw(1px) $c-grey
            align-content: center
            vertical-align: middle
            padding: 0.5vw
            font-family: $r-medium
            font-size: get-vw(18px)
            width: 33%
            span
                font-size: get-vw(14px)
            .td-circle
                width: get-vw(75px)
                height: get-vw(75px)
                border-radius: 50%
                cursor: pointer
                p
                    color: $c-white
                    padding: 0.7vw
                margin: 0.5vw auto
            .blue_circle
                background-color: $c-blue
                border: solid get-vw(3px) #77C9E5
                transition: all 0.3s linear
                &:hover
                    border: double get-vw(5px) #77C9E5
            .green_circle
                background-color: $c-green
                border: solid get-vw(3px) #D2E5BA
                transition: all 0.3s ease-in-out
                &:hover
                    border: dashed get-vw(5px) #D2E5BA
            .yellow_circle
                background-color: $c-yellow
                border: solid get-vw(3px) #FFF6C2
                transition: all 0.3s linear
                &:hover
                    border: dotted get-vw(5px) #FFF6C2

.puzzle_green-light
    fill: #a4f499
.puzzle_blue-light
    fill: #00a2ff
.puzzle_yellow-light
    fill: #ffeb8e
.puzzle_green-dark
    fill: #89e97c
.puzzle_blue-dark
    fill: #0095eb
.puzzle_yellow-dark
    fill: #ffd485
.invisible-puzzle
    fill: none

.sermion-page_content_plashka
    display: flex
    flex-direction: row
    margin: 3vw auto 1vw
    width: get-vw(1170px)
    height: auto
    padding: 2vw
    background-color: $c-white
    background-image: url(../img/sermion-puzzle-bg-1.png)
    background-repeat: no-repeat
    background-position: right top
    background-size: get-vw(470px) get-vw(470px)
    border-radius: get-vw(10px)
    box-shadow: 0 2px 21px -3px rgb(211, 208, 209)
.sermion-page_content_plashka_left-column
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    width: 40%
    height: 100%
    img
        //margin-left: 10vw
        width: get-vw(305px)
        height: get-vw(227px)
.sermion-page_content_plashka_right-column
    width: 60%
    height: 100%
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    justify-content: center
    img
        width: get-vw(219px)
        height: get-vw(43px)
        margin-bottom: 1vw
    span
        color: $c-blue
.sermion-page_content_plashka_right-column_buttons-container
    display: flex
    flex-direction: row
    //align-items: center
    //justify-content: space-around
    margin: 0 5vw
    //width: 60%
    .button
        margin: 1vw 2vw 0 2vw
.sermion-page_content
    svg
        width: get-vw(114px)
        height: auto
        margin: 3vw 0
    background-image: url(../img/sermion-puzzle-bg-2.png), url(../img/sermion-puzzle-bg-3.png)
    background-repeat: no-repeat
    background-position: right bottom, left bottom
    background-size: get-vw(500px) get-vw(500px), get-vw(500px) get-vw(500px)

.sermion-page_content_plashka-end
    width: get-vw(1024px)
    height: get-vw(148px)
    background-color: #f8fbff
    display: block
    margin: 0 auto
    padding: 2vw
    border-radius: get-vw(5px)
    h5
        font-family: $r-bold
        font-size: get-vw(24px)
        color: #c3d3dd
    p
        font-family: $r-medium
        font-size: get-vw(16px)
        color: #c3d3dd

.disclaimer
    background-color: $c-white
    background-image: url(../img/sermion-puzzle-bg-1.png)
    background-repeat: no-repeat
    background-position: right top
    background-size: get-vw(270px) get-vw(270px)
    border-radius: get-vw(10px)
    box-shadow: 0 2px 21px -3px rgb(211, 208, 209)
    width: get-vw(936px)
    height: get-vw(450px)
    margin: 5vw auto
    position: absolute
    top: 1.5%
    left: 50%
    transform: translateX(-50%)
    z-index: 2
    display: none

.disclaimer_top-row
    width: 100%
    height: 55%
    padding: 2vw
    p
        font-family: $r-medium
        font-size: get-vw(18px)
        margin-bottom: 0.5vw
    h2
        font-family: $r-bold
        font-size: get-vw(28px)
        color: $c-blue
        -webkit-font-smoothing: subpixel-antialiased
        margin-bottom: 1vw
        padding: 0 3vw
    .disclaimer_top-row_buttons-container
        display: flex
        justify-content: center
        .button
            margin: 0
        #buy_blue-button
            margin-right: 1vw
        #buy_white-button
            margin-left: 1vw
.disclaimer_bottom-row
    width: 100%
    height: 45%
    overflow: scroll
    background-color: #f2f2f2
    padding: 2vw
    h5
        font-family: $os-bold
        font-size: get-vw(18px)
        margin-bottom: 1vw
    ul
        text-align: left
        font-family: $r-regular
        font-size: get-vw(16px)
        margin-bottom: 2vw
    li
        padding-bottom: 0.5vw
        &:first-child
            font-family: $r-bold
.blured
    filter: blur(5px)

@import "media"
